<div class="player-info" id={{containerId}}>
    <div class="player-info__card-container" id={{id}}>

    </div>
    <div class="player-info__panel">
        <p class="player-info__panel__score" id={{playerScoreId}}>{{score}}</p>
        <span>{{username}}</span>
    </div>
</div>
